body{
margin: 0;



}
.main{
  background-color: rgb(17, 17, 17, 0.7);
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;

}

.container{
  width: 70%;
  margin: auto;
  height: 400px;
  background-color: rgb(17, 17, 17, 0.7);
  border-radius: 20% 10% 20% 10%;

}
.testmonial{
  width: 30%;
  height: 200px;
  background-color: teal;
  border: dashed red;
  border-radius: 50%;
}
.bgimage{
  height: 500px;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/3434523/pexels-photo-3434523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;

}
.heading-intro{
  font-size: 45px;
  color: white;
  text-align: center;
  padding-top: 40px;
}

.main-intro{
  width: 70%;
  margin:auto;
}
.logo-img{
  height: 100px;


}
.menu{
  margin-left: 500px;
  margin-top: -100px;
  padding-top: 25px;

}

a{
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 30px;
display: flow-root;



}

a:hover{
background-color: #FF851B;
border-radius: 20px 40px 20px 40px;
}
ul{
  list-style-type: none;
}
h1:hover{
  background-color: yellow;
  color: red;

}
li{
  display: inline-block;
}
.s1{
  color: red;

}
.s2{
  color: blue;
}
.btn{
  font-size: 25px;
  background-color: rgb(17, 17, 17, 0.7);
  margin: auto;
  height: 100px;
  width: 35%;
  color: white;
  margin-left: 300px;
  margin-top: 100px;

}
.btn:hover{
  background-image: url("https://images.pexels.com/photos/386009/pexels-photo-386009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  visibility: visible;
}
.contains{
  height: 200px;
  width: 50%;
  background-color: blue;
  position: absolute;
  right: 40%;
}
